*{
    margin: 0;
    padding: 0;
}
.div1{
    /* background-color: red;
    width: 48.6vw;
    height: 200vh;
    display: inline-block; */

    /* background-color: red;
    min-height: 50vh;
    height: 75vh;
    max-height: 100vh; */


}
.div2{
    /* background-color: aqua;
    width: 49.3vw;
    height: 200vh;
    display: inline-block; */

    /* background-color: rgb(38, 114, 221);
    min-width: 50vw;
    width: 75vw;
    max-width: 100vw; */

    
}